.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 163px;
    box-sizing: border-box;
    .container {
        padding-top: 1px;
        .copyright {
            margin-top: 90px;
            vertical-align: middle;
            @include font($rc,normal,14px,400);
            color: $white;
            i {
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
                font-size: 36px;
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/svg/smear-green.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 1827px 381px;
        transform: rotateX(180deg);
        z-index: 1;
    }


}