header {
    position: relative;
    background-color: $mint;
    &.landing {
        height: 1021px;
        .menu {
            background-color: transparent;
            li {
                a {
                    pointer-events:auto;
                }
            }
            &:after {
                display: none;
            }
        }
        .paralax-layer {
            .elements-lay {
                .element {
                    &:nth-child(1) {
                        left: -857px;
                        top: -110px;
                        img {
                            width: 196px;  
                            height: 132px;
                        }
                    }
                    &:nth-child(2) {

                        left: -609px;
                        top: -225px;
                        img {
                            width: 103px;
                            height: 129px;
                        }
                    }
                    &:nth-child(3) {                        
                        left: -400px;
                        top: -497px;
                        display: none;
                        img {
                            width: 49px;
                            height: 49px;
                        }
                    }
                    &:nth-child(4) {
                        left: 100px;
                        top: -120px;
                        img {
                            width: 80px;
                            height: 75px;
                        }
                    }
                    &:nth-child(5) {
                        left: 400px;
                        top: -100px;
                        img {
                            width: 80px;
                            height: 83px;
                        }
                    }
                    &:nth-child(6) {
                        left: 0px;
                        top: 0px;
                        img {
                            width: 80px;
                            height: 51px;
                        }
                    }
                    &:nth-child(7) {

                        left: 600px;
                        top: -250px;
                        img {
                            width: 41px;
                            height: 65px;
                        }
                    }
                    &:nth-child(8) {                        
                        left: 754px;
                        top: -542px;
                        img {
                            width: 80px;
                            height: 82px;
                        }
                    }
                }
            }
        }
    }
    &.autentification {
        width: 100vw;
        height: 100vh;
    }    
    &.inner {
        padding-top: 102px;
        background-color: $gray;
        padding-bottom: 173px;
        overflow: hidden;
        .paralax-layer {
            z-index: 2;
        }
        .logo {
            position: relative;
            top: 0;
            left: 0;
            width: 308px;
            transform: translate(0,0);
            img {
                width: 100%;
            }
        }
        h1 {
            margin-top: 20px;
            text-align: center;
            @include font($lt,normal,100px,400);
            color: $darkGray;
        }
        &:before {
            position: absolute;
            top: 0px;
            left: 50%;
            z-index: 1;
            transform: translate(-50%,0);
            content: "";
            width: 1827px;
            height: 259px;
            background-image: url(../images/svg/smear-blue.svg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 1827px 381px;
            display: block;
        }
        &:after {
            position: absolute;
            bottom: -90px;
            left: 50%;
            z-index: 1;
            transform: translate(-50%,0);
            content: "";
            width: 1827px;
            height: 259px;
            background-image: url(../images/svg/smear-white.svg);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 1827px 381px;
            display: block; 
        }
    }
    .button-block {
        position: absolute;
        right: 30px;
        top: 88px;
        z-index: 2;
        a {
            margin-bottom: 10px;
            display: block;
            margin-right: 0;
            margin-left: auto;
        }
    }
    .paralax-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;       
        .mount {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 530px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                height: 413px;
                width: 100%;
                background-image: url(../images/svg/mountain.svg);
                background-size: 2100px 450px;
                background-repeat: no-repeat;
                background-position: center center; 
                z-index: 2;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 200px;
                width: 100%;
                background-image: url(../images/svg/smear-white2.svg); 
                background-color: $darkGray;
                background-size: 2413px 273px;
                background-repeat: no-repeat;
                background-position: center bottom;   
                z-index: 1;
            }
        }
        .mount-dot {
            position: absolute;
            bottom: 230px;
            left: 0;
            width: 100%;
            height:276px; 
            background-image: url(../images/svg/perforation-mountain-white.svg);
            background-size: 1920px 240px;
            background-repeat: no-repeat;
            background-position: center center;   
        }
        .green-lay {
            position: absolute;
            left: 50%;
            margin-left:-920px;
            bottom: 210px;
            width: 1840px;
            height: 389px;
            background-image: url(../images/svg/smear-green.svg);                
            background-size: 1840px 389px;
            background-repeat: no-repeat;
        }
        .elements-lay {
            width: 1px;
            height: 1px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            .element {
                position: absolute;
                webkit-animation-name: moveAround;
                animation-name: moveAround;
                -webkit-animation-duration: 12s;
                animation-duration: 12s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                img {
                    position: relative;
                    width: 80px;
                }
                &:nth-child(1) {
                    top: 31px;
                    left: -699px;
                    -webkit-animation-duration: 13s;
                    animation-duration: 13s;
                    img {
                        width: 80px;
                        height: 67px;
                    }
                }
                &:nth-child(2) {
                    top: 100px;
                    left: -773px;
                    img {
                        width: 77px;
                        height: 80px;
                    }
                }
                &:nth-child(3) {
                    top: -33px;
                    left: 576px;
                    animation-delay: 2s;
                    -webkit-animation-delay: 2s;
                    -webkit-animation-duration: 14s;
                    animation-duration: 14s;
                    img {
                        width: 82px;
                        height: 62px;
                    }
                }
                &:nth-child(4) {
                    top: 167px;
                    left: 783px;
                    img {
                        width: 80px;
                        height: 75px;
                    }
                }

            }
        }
    }
    .particles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        .autorization-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            pointer-events: auto;            
            .form-inner {
                height: 70px;
                width: 415px;
                border-radius: 30px;
                background-color: $white;
                overflow: hidden;
                border: 1px solid $gray;
            }
            p {
                margin-bottom: 10px;
                text-align: center;
                @include font($rc,normal,18px,700);
                color: $darkGray;
            }
            input {
                position: relative;
                width: 300px;
                height: 70px;
                line-height: 70px;
                display: block;
                float: left;
                padding-left: 20px;
                padding-right: 10px;
                text-align: center;
                @include font($rc,normal,24px,700);
                color: $darkGray;
            }
            button {
                display: block;
                float: right;
                margin-top: 5px;
                margin-right: 5px;
            }
        }
    }
    .logo {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
    background-color: $mint;
    transition: $standart_transition;
    &.scrolled {
        transition: $standart_transition;
        background-color: $mint !important;
    }
    &--link-list {
        position: relative;
        z-index: 2;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
        margin-top: 0;
        @media (max-width:1050px) {
            padding-left:20px;
            text-align:left;
        }
        li {
            display: inline-block;
            @include font($rc,normal,14px,700);
            color: $white;
            margin-left: 13px;
            margin-right: 13px;
            position: relative;
            a {
                color: inherit;
                position: relative;
                z-index: 2;
            }
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 49px;
                height: 49px;
                opacity: 0;
                background-image: url(../images/svg/figure/circle1-gray.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 49px 49px;
                transition: $standart_transition;                
                -webkit-animation-name: moveAround3;
                animation-name: moveAround3;
                -webkit-animation-duration: 12s;
                animation-duration: 12s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;

            }
            &:hover {
                &:before {
                    transition: $standart_transition;
                    opacity: 1;
                }
            }
        }
    }
    .noaudio {
        pointer-events: auto;
        position: absolute;
        right: 30px;
        top: 14px;
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
        cursor: pointer;
        color: $mint;
        font-size: 24px;
        &:before {
            text-align: center;
            line-height: 50px;
        }
    }
    /*        &:after {
                position: absolute;
                bottom: -151px;
                left: 50%;
                z-index: 1;
                transform: translate(-50%,0);
                content: "";
                width: 1827px;
                height: 259px;
                background-image: url(../images/svg/smear-blue.svg);
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 1827px 381px;
                display: block;
    
            }*/
}
