$dark: #173e43;
$darkGray: #5f646a;
$softGray: #a4a7aa;
$gray: #e5e5e5;

$white: #ffffff;
$black: #000000;
$red: #f66450;


$lightGray: #dddfd4;
$yellow: #fae596;
$aquaGreen: #3fb0ac;
$darkAquaGreen: #3fb0ac;