$dark: #444444;
$darkGray: #5f646a;
$softGray: #a4a7aa;
$gray: #e5e5e5;
$lightGray: #f5f5f5;
$mint: #2fc4c9;
$green: #c4d82d;
$greenHover: #d8f023;
$white: #ffffff;
$black: #000000;
$aqua: #2fc4c9;
$red: #f66450;